{% extends 'core/layout.html' %}
{% load static %}

{% block title %}Restaurant Profile{% endblock %}

{% block body %}
<div class="container py-3">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-sm">
                <div class="card-header bg-dark text-accent d-flex justify-content-between align-items-center">
                    <h4 class="card-title mb-0">{{restaurant.name}}'s Profile</h4>
                    <button type="button" class="btn btn-accent" id="editButton">
                        <i class="bi bi-gear"></i>
                        Edit Profile
                    </button>
                </div>
                <div class="card-body">
                    <div id="profileData">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label class="form-label">Restaurant Name</label>
                            <p class="profile-text" data-field="name">{{ restaurant.name }}</p>
                            <hr>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Description</label>
                            <p class="profile-text" data-field="description">{{ restaurant.description }}</p>
                            <hr>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Cuisine</label>
                            <p class="profile-text" data-field="cuisine">{{ restaurant.cuisine }}</p>
                            <hr>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Pure Vegetarian</label>
                            <p class="profile-text" data-field="is_pure_veg">{{ restaurant.is_pure_veg|yesno:"Yes,No" }}</p>
                            <hr>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Photo URL</label>
                            <p class="profile-text" data-field="photo">{{ restaurant.photo }}</p>
                            <hr>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Owner Email</label>
                            <p class="profile-text" data-field="email">{{ restaurant.owner.email }}</p>
                            <hr>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Phone Number</label>
                            <p class="profile-text" data-field="phone_number">{{ restaurant.owner.phone_number }}</p>
                            <hr>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Address</label>
                            <p class="profile-text" data-field="address">{{ restaurant.owner.address }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .btn-accent{
        background-color: #ff6b00;
        color: #f8f9fa;
    }
    .text-accent{
        color: #ff6b00;
    }
    .bg-accent{
        background-color: #ff6b00;
    }
    .alert-accent{
        color: #ff6b00;
        background-color: #ffe1cc;
        border: 0.5px solid #ff6b00;
    }
    input.form-control{
        border: 1px solid #dee2e6;
        resize: none;
    }
    input.form-control:focus{
        border-color: #ff6b00;
        box-shadow: 0 0 0 0.25rem rgba(230,106,0,0.25);
    }
</style>
{% endblock %}

{% block script %}
<script src="{% static 'core/restaurant_profile.js' %}"></script>
{% endblock %}